    ---------------
    Search Controls
    ---------------

Search Controls

    Each <<<GldapoDirectory>>> has an instance of the {{{/apidocs/gldapo/search/SearchControls.html}SearchControls}} class that controls the default options to be used for {{{../schemaclasses/searching.html}searching}} operations.