    ---------------
    Search Controls
    ---------------

Search Controls

    Each <<<GldapDirectory>>> has an instance of the {{{${project.scm.url}/src/main/groovy/gldapo/directory/GldapoSearchControls.groovy}GldapoSearchControls}} class that controls the default options to be used for {{{../schemaclasses/searching.html}searching}} operations.