    ------------------------
    Schema Classes - Filters
    ------------------------

Filters

    A common pattern is to use a schema class to represent a particular kind of LDAP entry. This can usually be represented with an LDAP filter, commonly a match on the <<<objectclass>>> attribute. Instead of having to include this filter in {{{searching.html}searching}} operations, you can specify it with the {{{${project.scm.url}/src/main/java/gldapo/schema/annotation/GldapoSchemaFilter.java}GldapoSchemaFilter}} annotation to have it implicitly included in any searches.

+-------------------------------+
import gldapo.schema.annotation.GldapoSchemaFilter

@GldapoSchemaFilter("(objectclass=person)")
class MyPersonSchemaClass {
    /* ... */
}
+-------------------------------+

    If a schema filter is specified, it automatically gets <<and>>ed to any specified filter for a search.